name: GitHub Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Generate GitHub Metrics
        uses: lowlighter/metrics@latest
        with:
          user: VictorAlexandreMuller
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: America/Sao_Paulo
          filename: github-metrics.svg
          plugin_isocalendar: no
          plugin_languages: no
          plugin_lines: yes
          plugin_traffic: yes
          token: ${{ secrets.GITHUB_TOKEN }}
